body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    background-color: #e6eff8;
}
.navbar {
    background-color: #1e73be;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 0 0 10px 10px;
}
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}
.logo {
    width: 40px;
    height: auto;
}
.title {
    font-size: 18px;
    color: white;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 14px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.login-box {
    display: flex;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 650px;
    height: auto;
}
.login-left {
    background-color: #1e73be;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 0.5;
}
.login-left img {
    width: 70px;
    height: 70px;
}
.login-right {
    flex: 2;
    padding: 30px;
    text-align: center;
}
.login-title {
    color: #1e73be;
    margin-bottom: 20px;
    font-size: 25px;
}
input[type=text], input[type=password] {
    width: 90%;
    padding: 10px 5px;
    margin: 10px 0;
    border: none;                  
    border-bottom: 1px solid #ccc; 
    background: transparent;       
    outline: none;                 
    font-size: 15px;
}
.login-button {
    width: 65%;
    padding: 10px;
    border: 1px solid #1e73be;   
    background: transparent;    
    color: #1e73be;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;   
    transition: all 0.3s ease;
}
.register {
    margin-top: 15px;
    font-size: 16px;
}
.register a {
    color: #1e73be;
    text-decoration: none;
}
.error { 
    color: red; 
}
.success { 
    color: green; 
}
#response {
    margin-top: 10px;
}
.response-box {
    padding: 10px 15px;
    border-radius: 5px;
    background: #fff4f4;
    color: #120303;
    border-left: 4px solid #d9534f;
    font-size: 18px;
    width: 100%;
    animation: fadeIn 0.2s ease-in-out;
}
.user-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.top-bar {
    width: 80%;                
    max-width: 1100px;       
    background: #ffffff;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.top-icons i {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
}
.center-row {
    width: 80%;                
    max-width: 1150px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.user-box {
    width: 170px;
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.user-img {
    width: 80px;
    height: 80px;
}
.username {
    margin: 15px 0;
    font-weight: bold;
    color: #1e73be;
}
.create-btn {
    background: #1e73be;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}
.contact-box {
    flex: 1;                   
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


        

