.formClass {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    min-width: 300px;
}
input[type="file"] {
    background-color: #030303;
    color: white;
    padding: 10px 10px;
    font-size: 1em;
    font-weight: bold;
}
input[type="submit"] {
    background-color: #6C9322;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

